div {
    color: blue;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    
}

.inner-container{
    display: flex;
    align-items: center;
    width: 300px;
    border: none;
    margin: 1px 1px 1px 1px ;
    background-color: white;
}

.outer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.outer-image{
    width: 750px;
    height: 800px;
}

.inner-img{
    width: 50px;
    height: 50px;
}

figure figcaption{
    text-align: center;
}

img {
    margin: 5px 5px 5px 5px;
}

.inner-container.selected{
    background-color: skyblue;
    
}

#fig {
    display: flex;
    flex-direction: column;
}

input {
    text-align: center;
    border: none;
}